body{
    font-family: 'Poppins', sans-serif;
    padding: 0%;
    margin: 0%;
    font-weight: 700;
}

/*top banner*/

header h1{
    font-size: 50px;
}
.name-hightlight{
    color: orange;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:5%;
    padding-top: 100px;
}
.helf-width img{
    width: 100%;
}
.button{ 
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 4px;
    display: inline-block;
}
.button a{
    text-decoration: none;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(./devoloper-protfoli/top-banner.png);
    background-repeat: no-repeat;
}
section {
    height: 500px; 
    padding-bottom: 150px;
    padding-right: 5%;

}


/*middle banner*/



div.helf-width2 {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 233px;
}
div.helf-width2 img{
    width: 100%;
    margin-right: 50px;
    padding-left: 50px;
}
div.half-width2 h3{
    font-size: 40px;
}
div.half-width2 h1{
    font-size: 20px;
    font-weight: 900;
}
div.button2{
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 4px;
    display: inline-block;
}
div.button2 a{
    text-decoration: none;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-weight: 700;
}

section.middle-banner{
    background-image: url(./devoloper-protfoli/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 }

 /*last banner*/
 .single{
     padding-left: 5%;
     margin-left: 5%;
     font-size: 35px;
 }
 div.helf-width3 {
    width: 38%;
    float: left;
    margin-left: 6%;
    padding-left: 3%;
    color: black;
}

div.half-width3 h1{

}
div.helf-width3 h3{
    color: orange;
    font-weight: 700;
}
div.half-width3 p{

}
.single-experience{
    box-shadow:  10px 10px 40px grey;
    border-radius: 5px; 
    height: 80%;
    background-color: white;

}

.last-banner{
    background-image: url(./devoloper-protfoli/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#side-bar1{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, rgb(238, 134, 65), tomato );
    border-image-slice: 1;
}
#sider-bar2{
    border-left: 5px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: large;
    
}








